.body {
    max-width: 1000px;
    padding: 0 50px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
  }
  
  .body__header {
    text-align: left;
    font-family: cursive;
  }  