.contact__heading {
    background-color: rgba(146, 146, 146, 0.349);
}

.contact__links {
    list-style-type: none;
}

.contact__info {
    text-decoration: none;
    background-color: rgba(51, 54, 58, 0.767);
    color: white;
}